@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Inter:wght@400;700;800&family=Roboto:ital,wght@0,100;0,500;0,700;0,900;1,100&display=swap');


/* CSS reset */
*, 
*::before, 
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* custom properties */
:root {
    /* font-family */
   --ff-thin-italic: ;

    /* font weight */
    --fw-lite: 100;
    --fw-norm: 400;
    --fw-medium: 500;
    --fw-heavy: 900;
   
   /* font-size */
   --fs-small: ;
   --fs-medium: ;
   --fs-large: ;

   /* font-colors */
   --fc-lite: #eee4e4;
   --fc-medium: #333;
   --fc-dark: #000;

   /* Bg-colors */
   --bg-lite-blue: rgb(207, 245, 231);
   --bg-md-blue: rgb(160, 228, 203);
   --bg-lite-green: hsl(180, 100%, 15%);
   --bg-lite-blue: hsl(180, 100%, 35%);
   /* --bg-drk-blue: rgb(89, 193, 189); */
   --bg-hvy-blue: rgb(13, 76, 146);
   --bg-seamoss-green: rgb(109, 152, 134);
   --bg-drk-charcoal: rgb(57, 62, 70);

}

/* globals */

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding: 0.10em 0.5em;
}

h2 {
    margin-top: 0.5em; 
}

h3 {
    font-weight: 700;
    font-style: italic;
    color: var(--bg-lite-blue);
    margin: 0.6em 0;
}

p {
    line-height: 1.5;
    text-align: justify;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin-bottom: 20px;
}

ul,
ol {
    list-style-type: none;
}

img {
    max-width: 100%;
}

/* page wrapper */
.page-wrapper {
    margin: 0 auto;
    width: 100%;
    padding: 0.835rem;
} 

header[role="banner"] {
    background-color: rgb(169, 169, 214);
    background-image: url("../images/moheb-anwari-nHdSxnHw35o-unsplash.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: multiply;
    max-width: 100%;
    height: auto;
    color: var(--fc-lite);
    padding: 2em 1em;
}

div.summary p:nth-child(odd) {
    font-style: italic;
    font-size: 1.3rem;
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
    padding: 1em 1em 0 1em;
}

div.summary p:nth-child(even) {
    margin: 1em 0;
    font-size:1rem;
    font-style: italic;
    text-align: center;
    padding: 1.5em;

}

section.intro {
    background: var(--lite);
    color: var(--medium);
    padding: 0.1em;
}

.explanation,
.preamble, 
.participation,
.benefits,
.requirements {
    margin: 1em auto;
    width: 100%;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 1em;
}

/* styles to give footer a:links the appearance of buttons */
.zen-validate-html,
.zen-validate-css,
.zen-license,
.zen-accessibility,
.zen-github {
    display: inline-block;
    background-color: var(--bg-lite-blue);
    padding: 0.3em 0.9em;
    border: none;
    border-radius: 50px;
}

nav[role="navigation"] {
    
}

/* .sidebar .wrapper .design-selection li a {
    
} */

footer {
    background-color: rgb(239, 242, 245);
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 1em;
    text-align: center;
    padding: 2em 0;
}

footer a {
    color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
}

footer a:link, a:visited {
    color: rgb(235, 143, 68);
    margin: 0.5em 0.5em;
}

footer a:hover, a:active {
    color: rgb(75, 71, 71);
    cursor: pointer;
    border: 1px solid var(--bg-lite-blue);
    background-color: transparent;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
}






